<!DOCTYPE html>
<html>
    <body><form method="POST" >
        <%- include('header');-%>
<h1>welcome to Contact  page</h1>
Name: <input type="text" name="txt1"></br></br>
Age: <input type="text" name="txt2"></br></br>
<input type="submit" value="Submit" >
</form>
    </body>
</html>
